:root {
  --font-size-base: clamp(1.2rem, 1rem + 0.5vw, 1.8rem);
  --black: #000000;
  --white: #ffffff;
  --white-opaque: #ffffff80;
  --white-semi-opaque: #ffffff1a;
  --tag-bg: #edf2f6;
  --button-bg: #e9ff61;
  --links-color-hover: #007bff;
  --card-item__price: #999999;
}

html {
  font-size: clamp(0.313rem, 0.22rem + 0.46vw, 0.625rem);
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background: linear-gradient(180deg, #e9e9e9, var(--white));
  background-repeat: no-repeat;
}

a {
  color: var(--black);
}

section {
  padding: 0 1.5rem;
}

.title {
  font-size: 6rem;
}
.title--features {
  margin-bottom: 5rem;
}
.title--our-story {
  flex: 0 0 70%;
}
.title--our-story-card {
  font-size: 3.6rem;
}

.description {
  text-align: left;
  font-size: 1.8rem;
  color: #999999;
}
.description--our-story {
  flex: 0 0 30%;
}

.tag {
  display: inline-block;
  font-size: 1.8rem;
  background-color: var(--tag-bg);
  padding: 1rem 2rem;
}
.tag--features,
.tag--our-story {
  margin-bottom: 3.6rem;
}

/* Navigation Bar Styles */
.nav-menu {
  padding: 3.2rem 5rem;
  display: flex;
}
.open-sidebar,
.close-sidebar {
  display: none;
}
.nav-menu ul {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  padding: 1.8rem;
  background-color: var(--white-opaque);
  border-radius: 10px;
  gap: 3rem;
}
.nav-menu__item:first-child {
  margin-right: auto;
}
.nav-menu__item:last-child {
  margin-left: auto;
}
.nav-menu__item a {
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  text-wrap: nowrap;
}
.nav-menu__item a:hover {
  border-bottom: 2px solid var(--card-item__price);
}
.nav-menu__item:first-child a:hover {
  border-bottom: none;
}
.nav-menu__logo {
  display: flex;
  align-items: center;
}

.nav-menu__logo img {
  max-height: 30px;
  width: auto;
}
.nav-menu__button {
  background-color: var(--button-bg);
  padding: 1.8rem 2.4rem;
  border-radius: 10px;
}
.nav-menu__button::after {
  content: " 🡥";
}

.nav-menu__button:hover {
  background-color: #d4f556;
  cursor: pointer;
}
.nav-menu__button:active {
  background-color: #c0e450;
}

/* Header Content Styles */
.hero {
  margin-bottom: clamp(0.5rem, -9.204rem + 16.52vw, 13rem);
}
.hero__content {
  position: relative;
}

.hero__subtitle {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: clamp(4rem, -2.63rem + 17.15vw, 23rem);
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 4rem;
  margin-bottom: 5rem;
  color: #e9e9e9;
  text-wrap: nowrap;
}
.hero__subtitle > span {
  color: var(--black);
  display: block;
}

.hero__img {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;
  transform: translate(0%, -50%);
}
.hero__img img {
  width: 40%;
  object-fit: cover;
  margin: 0 auto;
}

.hero__list {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 124rem;
  margin: 0 auto;
  gap: 5em;

  flex-wrap: wrap;
}
.item {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.item__number {
  flex: 1 0 auto;
  font-size: 8rem;
}
.item__label {
  flex: 1 1 50%;
  font-size: 2.4rem;
  color: #999999;
}

/* Features Section Styles */
.features {
  text-align: center;
  max-width: 124rem;
  margin: 0 auto;
  margin-bottom: clamp(0.5rem, -9.204rem + 16.52vw, 13rem);
}
.cards__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
.card-item {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.card-item__img {
  width: 100%;
  overflow: hidden;
}
.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-item__title {
  font-size: 2.4rem;
  color: var(--black);
}
.card-item__price {
  font-size: 2.4rem;
  color: var(--card-item__price);
  margin-right: 1rem;
}
.card-item__price--new {
  color: var(--black);
}

/* Our Story Section Styles */
.our-story {
  max-width: 124rem;
  margin: 0 auto;
  margin-bottom: clamp(0.5rem, -9.204rem + 16.52vw, 13rem);
}
.top__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
  margin-bottom: 6rem;
}

.bottom__content {
  display: flex;
  gap: 2rem;
}
.our-story__card {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}
.our-story__video {
  margin-bottom: auto;
  position: relative;
}
.our-story__video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.our-story__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filter {
  filter: brightness(50%);
}

.our-story__card-content {
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
  right: 2.4rem;
  padding: 3rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border: 1px solid var(--white-opaque);
  color: var(--white);
  backdrop-filter: blur(24px);
}

.our-story__card__button {
  display: block;
  padding: 1.2rem 3.8rem;
  background-color: var(--button-bg);
  color: var(--black);
  border: none;
  margin-top: 3.2rem;
}

/* Versatile Power Styles */
.versatile-power {
  text-align: center;
  padding-top: clamp(0.5rem, -9.204rem + 16.52vw, 13rem);
  padding-bottom: clamp(0.5rem, -9.204rem + 16.52vw, 13rem);
  margin-bottom: clamp(0.5rem, -9.204rem + 16.52vw, 13rem);
  background-color: var(--black);
}
.tag--versatile-power {
  background-color: var(--white-semi-opaque);
  color: var(--white);
  margin-bottom: 1.6rem;
}
.title--versatile-power {
  color: var(--white);
  margin-bottom: 6rem;
}

.versatile-power__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  max-width: 124rem;
  margin: 0 auto;
}
.versatile-power__content > div {
  background-color: var(--white-semi-opaque);
  padding: 2rem;
  color: var(--white);
}

.people-say {
  grid-column: span 2 / span 2;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 95% 15%;
}
.people-say__title {
  font-size: 4.2rem;
  max-width: 22rem;
}
.people-say__sold {
  color: var(--button-bg);
  font-size: 1.8rem;
  margin-bottom: 2.6rem;
}
.people-say__owners-group {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
.people-say__owners {
  font-size: 1.8rem;
  align-items: center;
}
.people-say__owners::before {
  content: url(../images/owners.png);
  color: var(--button-bg);
  display: inline-block;
  margin-right: 1rem;
  transform: translateY(25%);
}
.people-say__price {
  font-size: 1.8rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--white-semi-opaque);
}

.div2 {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  background-image: url(../images/card-tel.png);
  background-size: cover;
}

.single-charge {
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  text-align: start;
  background-image: url(../images/yellow-background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.single-charge__site {
  font-size: 1.8rem;
  background-color: var(--black);
  padding: 0.6rem 1rem;
}
.single-charge__fact {
  font-size: 2.4rem;
  color: var(--black);
}
.single-charge__fact span {
  display: block;
  font-size: 8rem;
  font-weight: 600;
  line-height: 80%;
}

.versatile-power__logo.versatile-power__logo {
  padding: 4rem;
  justify-items: center;
  grid-row-start: 2;
  background-color: var(--white);
  align-content: center;
}
.versatile-power__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobility {
  grid-column-start: 2;
  grid-row-start: 3;
  text-align: start;
  gap: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Forms Section Styles */
.form-group__element {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.form-group__element label,
.form-group__element input,
.form-group__element textarea {
  font-size: 1.8rem;
}
.form-group__element input,
.form-group__element textarea {
  padding: 1.8rem;
  border: none;
  background-color: var(--tag-bg);
  outline: none;
}

.form__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.form-group__element--email {
  grid-column: span 2 / span 2;
}

.form-group__element--massage {
  grid-column: span 2 / span 2;
  grid-row-start: 3;
}
.form-group__element--massage textarea {
  min-height: 11rem;
  resize: vertical;
  overflow-y: auto;
}
.feedback {
  max-width: 124rem;
  margin: 0 auto;
  margin-bottom: clamp(0.5rem, -9.204rem + 16.52vw, 13rem);
}

.feedback__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.3rem;
}
.feedback__content > {
  flex-basis: 50%;
}
.feedback__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title--form {
  margin-bottom: 3.2rem;
}
.form-group__button {
  background-color: var(--black);
  padding: 1.8rem 2.4rem;
  border: none;
  font-size: 1.8rem;
  color: var(--button-bg);
  max-width: 100px;
}

/* Footer Styles */
.footer {
  background-image: url(../images/footer_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
}
.footer__content {
  padding: 5rem;
  border: 1px solid var(--white-opaque);
  color: var(--white);
  backdrop-filter: blur(20px);
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.footer__logo {
  flex-basis: 30%;
}
.footer-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  color: var(--white);
  gap: 1.6rem;
}
.footer-nav__title {
  margin-bottom: 2.4rem;
}

.footer-nav__list a {
  color: var(--white-opaque);
}
.footer-nav__list a:hover,
.footer__bottom-link:hover {
  text-decoration: underline;
}

.footer__bottom {
  border-top: 1px solid var(--white-opaque);
  padding-top: 4rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;
}
.footer__bottom span {
  margin-right: auto;
}
.footer__bottom-link {
  color: var(--white);
}

@media (max-width: 768px) {
  .title--our-story,
  .description--our-story {
    flex: 0 0 100%;
    text-align: center;
  }
}
@media (max-width: 704px) {
  .feedback__content {
    flex-direction: column-reverse;
  }
}
@media (max-width: 580px) {
  .nav-menu__item:first-child {
    display: none;
  }
  .open-sidebar {
    display: block;
  }
  .nav-menu ul {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    z-index: 100;
  }

  .nav-menu ul.show {
    right: 0;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 0;
  }
  .nav-menu ul.show .nav-menu__item .close-sidebar {
    display: block;
    justify-self: start;
    position: absolute;
    top: 0;
    left: 5%;
  }
  .close-sidebar svg {
    width: 50px;
  }
  .nav-menu:has(ul.show) {
    padding: 0;
  }

  .nav-menu ul {
    background-color: var(--black);
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-menu__item:not(:last-child) {
    width: 100%;
  }
  .nav-menu__item:last-child {
    margin: 0 auto;
    flex: 0 1 auto;
  }
  .nav-menu__item a {
    color: var(--white);
    font-size: 8rem;
    text-align: center;
  }
  .nav-menu:has(ul.show) .open-sidebar {
    display: none;
  }
}
@media (max-width: 532px) {
  .hero__list {
    gap: 1rem;
  }
  .item__number {
    line-height: 100%;
  }
}
@media (max-width: 500px) {
  .bottom__content {
    flex-direction: column;
  }
  .our-story__card {
    flex-basis: 100%;
  }
  .card-item {
    flex-basis: 100%;
  }
}
